[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
flake8 = "*"
ipython = "*"
isort = "*"
jupyterlab = "*"
loguru = "*"
matplotlib = "*"
mkdocs = "*"
notebook = "*"
numpy = "*"
pandas = "*"
python-dotenv = "*"
scikit-learn = "*"
tqdm = "*"
typer = "*"
applied-ai = {file = ".", editable = true}
asyncio = "*"
ffmpeg = "*"
ffprobe = "*"
mcp = "*"
openai = "*"
openai-agents = "*"
pydub = "*"
scipy = "*"
sounddevice = "*"
uv = "*"
dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
